# SpaceX & Wine, Reading & Reshaping Nested Data

## Table of Contents
1. Introduction
2. Install & Import Packages
3. SpaceX Launches
4. 10 of My Favorite Wines from the Past Few Years
<br>4a. Method 1: .to_list()
<br>4b. Method 2: .apply(pd.Series)

## 1. Introduction

We often encounter nested data, including in json files or dataframes with nested data columns. Today, we'll walk through a couple of examples of how to read and reshape nested data. In the 1st example, we'll work with a complex json file of SpaceX launches found here (https://api.spacexdata.com/v3/capsules) that includes a nested list of dictionaries within a list of dictionaries. We'll set up the json_normalize function with the arguments record_path and meta, as well as set the index and data types to get a usable dataframe at the end. In the 2nd example, we'll work with a manually created dataframe of 10 of my favorite wines from the past few years that includes a column of dictionaries, including variety, region, country, and vintage. We'll walk through two methods to flatten out the dictionaries to get the dataframe of all the wine info we want. The purpose of this is to demonstrate how to read and reshape common types of nested data to create usable dataframes for further analysis.

## 2. Install & Import Packages

In [4]:
import pandas as pd
from datetime import datetime
import json
from pandas import json_normalize
import requests 
import urllib.request

## 3. SpaceX Launches

In the 1st example, we'll work with a complex json file of SpaceX launches.

In [5]:
# Source: https://api.spacexdata.com/v3/capsules

# Load json data from url
with urllib.request.urlopen('https://api.spacexdata.com/v3/capsules') as url:
    spacex_json = json.loads(url.read().decode())
    
# Our json is a list of dictionaries that also includes a nested list of dictionaries under missions 
spacex_json

[{'capsule_serial': 'C101',
  'capsule_id': 'dragon1',
  'status': 'retired',
  'original_launch': '2010-12-08T15:43:00.000Z',
  'original_launch_unix': 1291822980,
  'missions': [{'name': 'COTS 1', 'flight': 7}],
  'landings': 1,
  'type': 'Dragon 1.0',
  'details': 'Reentered after three weeks in orbit',
  'reuse_count': 0},
 {'capsule_serial': 'C102',
  'capsule_id': 'dragon1',
  'status': 'retired',
  'original_launch': '2012-05-22T07:44:00.000Z',
  'original_launch_unix': 1335944640,
  'missions': [{'name': 'COTS 2', 'flight': 8}],
  'landings': 1,
  'type': 'Dragon 1.0',
  'details': 'First Dragon spacecraft',
  'reuse_count': 0},
 {'capsule_serial': 'C103',
  'capsule_id': 'dragon1',
  'status': 'unknown',
  'original_launch': '2012-10-08T00:35:00.000Z',
  'original_launch_unix': 1349656500,
  'missions': [{'name': 'CRS-1', 'flight': 9}],
  'landings': 1,
  'type': 'Dragon 1.0',
  'details': 'First of twenty missions flown under the CRS1 contract',
  'reuse_count': 0},
 {'capsule_serial': 'C104',
  'capsule_id': 'dragon1',
  'status': 'unknown',
  'original_launch': '2013-03-01T19:10:00.000Z',
  'original_launch_unix': 1362165000,
  'missions': [{'name': 'CRS-2', 'flight': 10}],
  'landings': 1,
  'type': 'Dragon 1.0',
  'details': None,
  'reuse_count': 0},
 {'capsule_serial': 'C105',
  'capsule_id': 'dragon1',
  'status': 'unknown',
  'original_launch': '2014-04-18T19:25:00.000Z',
  'original_launch_unix': 1397849100,
  'missions': [{'name': 'CRS-3', 'flight': 14}],
  'landings': 1,
  'type': 'Dragon 1.1',
  'details': 'First Dragon v1.1 capsule',
  'reuse_count': 0},
 {'capsule_serial': 'C106',
  'capsule_id': 'dragon1',
  'status': 'active',
  'original_launch': '2014-09-21T05:52:00.000Z',
  'original_launch_unix': 1411278720,
  'missions': [{'name': 'CRS-4', 'flight': 18},
   {'name': 'CRS-11', 'flight': 41},
   {'name': 'CRS-19', 'flight': 85}],
  'landings': 3,
  'type': 'Dragon 1.1',
  'details': 'First Dragon capsule to be reused',
  'reuse_count': 2},
 {'capsule_serial': 'C107',
  'capsule_id': 'dragon1',
  'status': 'unknown',
  'original_launch': '2015-01-10T09:47:00.000Z',
  'original_launch_unix': 1420883220,
  'missions': [{'name': 'CRS-5', 'flight': 19}],
  'landings': 1,
  'type': 'Dragon 1.1',
  'details': None,
  'reuse_count': 0},
 {'capsule_serial': 'C108',
  'capsule_id': 'dragon1',
  'status': 'active',
  'original_launch': '2015-04-14T20:10:00.000Z',
  'original_launch_unix': 1429042200,
  'missions': [{'name': 'CRS-6', 'flight': 22},
   {'name': 'CRS-13', 'flight': 51},
   {'name': 'CRS-18', 'flight': 82}],
  'landings': 3,
  'type': 'Dragon 1.1',
  'details': 'Second Dragon capsule to be reused',
  'reuse_count': 2},
 {'capsule_serial': 'C109',
  'capsule_id': 'dragon1',
  'status': 'destroyed',
  'original_launch': '2015-06-28T14:21:00.000Z',
  'original_launch_unix': 1435501260,
  'missions': [{'name': 'CRS-7', 'flight': 24}],
  'landings': 0,
  'type': 'Dragon 1.1',
  'details': 'Destroyed on impact after F9 launch failure',
  'reuse_count': 0},
 {'capsule_serial': 'C110',
  'capsule_id': 'dragon1',
  'status': 'active',
  'original_launch': '2016-04-08T20:43:00.000Z',
  'original_launch_unix': 1460148180,
  'missions': [{'name': 'CRS-8', 'flight': 28},
   {'name': 'CRS-14', 'flight': 59}],
  'landings': 2,
  'type': 'Dragon 1.1',
  'details': None,
  'reuse_count': 1},
 {'capsule_serial': 'C111',
  'capsule_id': 'dragon1',
  'status': 'active',
  'original_launch': '2016-07-18T04:45:00.000Z',
  'original_launch_unix': 1468817100,
  'missions': [{'name': 'CRS-9', 'flight': 32},
   {'name': 'CRS-15', 'flight': 64}],
  'landings': 2,
  'type': 'Dragon 1.1',
  'details': None,
  'reuse_count': 1},
 {'capsule_serial': 'C112',
  'capsule_id': 'dragon1',
  'status': 'active',
  'original_launch': '2017-02-19T14:39:00.000Z',
  'original_launch_unix': 1487515140,
  'missions': [{'name': 'CRS-10', 'flight': 36},
   {'name': 'CRS-16', 'flight': 72},
   {'name': 'CRS-20', 'flight': 91}],
  'landings': 3,
  'type': 'Dragon 1.1',
  'details': None,
  'reuse_count': 2},
 {'capsule_serial': 'C113',
  'capsule_id': 'dragon1',
  'status': 'active',
  'original_launch': '2017-08-14T16:31:00.000Z',
  'original_launch_unix': 1502728260,
  'missions': [{'name': 'CRS-12', 'flight': 45},
   {'name': 'CRS-17', 'flight': 78}],
  'landings': 2,
  'type': 'Dragon 1.1',
  'details': 'The last newly manufactured Dragon 1',
  'reuse_count': 1},
 {'capsule_serial': 'C201',
  'capsule_id': 'dragon2',
  'status': 'active',
  'original_launch': '2019-03-02T07:45:00.000Z',
  'original_launch_unix': 1551512700,
  'missions': [{'name': 'CCtCap Demo Mission 1', 'flight': 76}],
  'landings': 1,
  'type': 'Dragon 2.0',
  'details': 'Destroyed in a test anomaly at LZ-1 on April 20, 2019',
  'reuse_count': 0},
 {'capsule_serial': 'C205',
  'capsule_id': 'dragon2',
  'status': 'active',
  'original_launch': '2020-01-19T14:00:00.000Z',
  'original_launch_unix': 1579442400,
  'missions': [{'name': 'Crew Dragon In Flight Abort Test', 'flight': 88}],
  'landings': 1,
  'type': 'Dragon 2.0',
  'details': 'In construction for use in first mission in contract under the CCtCap contract',
  'reuse_count': 0},
 {'capsule_serial': 'C206',
  'capsule_id': 'dragon2',
  'status': 'active',
  'original_launch': '2020-05-30T19:22:00.000Z',
  'original_launch_unix': 1590866520,
  'missions': [{'name': 'CCtCap Demo Mission 2', 'flight': 94}],
  'landings': 1,
  'type': 'Dragon 2.0',
  'details': 'In Hawthorne, CA as of October 11, 2019. Seen in background during Musk/Bridenstine press conference.',
  'reuse_count': 0},
 {'capsule_serial': 'C202',
  'capsule_id': 'dragon2',
  'status': 'active',
  'original_launch': None,
  'original_launch_unix': None,
  'missions': [],
  'landings': 0,
  'type': 'Dragon 2.0',
  'details': "Capsule used to qualify Dragon 2's environmental control and life support systems.",
  'reuse_count': 0},
 {'capsule_serial': 'C203',
  'capsule_id': 'dragon2',
  'status': 'active',
  'original_launch': None,
  'original_launch_unix': None,
  'missions': [],
  'landings': 0,
  'type': 'Dragon 2.0',
  'details': 'Rumored to be used for Inflight Abort Test after DM-1',
  'reuse_count': 0},
 {'capsule_serial': 'C204',
  'capsule_id': 'dragon2',
  'status': 'active',
  'original_launch': None,
  'original_launch_unix': None,
  'missions': [],
  'landings': 0,
  'type': 'Dragon 2.0',
  'details': 'Currently in construction for use in DM-2',
  'reuse_count': 0}]

In [6]:
# If we simply call json_normalize, we see that missions is not flattened out and still includes a list
spacex = json_normalize(spacex_json, sep='_')
spacex

,capsule_serial,capsule_id,status,original_launch,original_launch_unix,missions,landings,type,details,reuse_count
0,C101,dragon1,retired,2010-12-08T15:43:00.000Z,1.291823e+09,"[{'name': 'COTS 1', 'flight': 7}]",1,Dragon 1.0,Reentered after three weeks in orbit,0
1,C102,dragon1,retired,2012-05-22T07:44:00.000Z,1.335945e+09,"[{'name': 'COTS 2', 'flight': 8}]",1,Dragon 1.0,First Dragon spacecraft,0
2,C103,dragon1,unknown,2012-10-08T00:35:00.000Z,1.349656e+09,"[{'name': 'CRS-1', 'flight': 9}]",1,Dragon 1.0,First of twenty missions flown under the CRS1 ...,0
3,C104,dragon1,unknown,2013-03-01T19:10:00.000Z,1.362165e+09,"[{'name': 'CRS-2', 'flight': 10}]",1,Dragon 1.0,None,0
4,C105,dragon1,unknown,2014-04-18T19:25:00.000Z,1.397849e+09,"[{'name': 'CRS-3', 'flight': 14}]",1,Dragon 1.1,First Dragon v1.1 capsule,0
5,C106,dragon1,active,2014-09-21T05:52:00.000Z,1.411279e+09,"[{'name': 'CRS-4', 'flight': 18}, {'name': 'CR...",3,Dragon 1.1,First Dragon capsule to be reused,2
6,C107,dragon1,unknown,2015-01-10T09:47:00.000Z,1.420883e+09,"[{'name': 'CRS-5', 'flight': 19}]",1,Dragon 1.1,None,0
7,C108,dragon1,active,2015-04-14T20:10:00.000Z,1.429042e+09,"[{'name': 'CRS-6', 'flight': 22}, {'name': 'CR...",3,Dragon 1.1,Second Dragon capsule to be reused,2
8,C109,dragon1,destroyed,2015-06-28T14:21:00.000Z,1.435501e+09,"[{'name': 'CRS-7', 'flight': 24}]",0,Dragon 1.1,Destroyed on impact after F9 launch failure,0
9,C110,dragon1,active,2016-04-08T20:43:00.000Z,1.460148e+09,"[{'name': 'CRS-8', 'flight': 28}, {'name': 'CR...",2,Dragon 1.1,None,1
10,C111,dragon1,active,2016-07-18T04:45:00.000Z,1.468817e+09,"[{'name': 'CRS-9', 'flight': 32}, {'name': 'CR...",2,Dragon 1.1,None,1
11,C112,dragon1,active,2017-02-19T14:39:00.000Z,1.487515e+09,"[{'name': 'CRS-10', 'flight': 36}, {'name': 'C...",3,Dragon 1.1,None,2
12,C113,dragon1,active,2017-08-14T16:31:00.000Z,1.502728e+09,"[{'name': 'CRS-12', 'flight': 45}, {'name': 'C...",2,Dragon 1.1,The last newly manufactured Dragon 1,1
13,C201,dragon2,active,2019-03-02T07:45:00.000Z,1.551513e+09,"[{'name': 'CCtCap Demo Mission 1', 'flight': 76}]",1,Dragon 2.0,Destroyed in a test anomaly at LZ-1 on April 2...,0
14,C205,dragon2,active,2020-01-19T14:00:00.000Z,1.579442e+09,"[{'name': 'Crew Dragon In Flight Abort Test', ...",1,Dragon 2.0,In construction for use in first mission in co...,0
15,C206,dragon2,active,2020-05-30T19:22:00.000Z,1.590867e+09,"[{'name': 'CCtCap Demo Mission 2', 'flight': 94}]",1,Dragon 2.0,"In Hawthorne, CA as of October 11, 2019. Seen ...",0
16,C202,dragon2,active,None,NaN,[],0,Dragon 2.0,Capsule used to qualify Dragon 2's environment...,0
17,C203,dragon2,active,None,NaN,[],0,Dragon 2.0,Rumored to be used for Inflight Abort Test aft...,0
18,C204,dragon2,active,None,NaN,[],0,Dragon 2.0,Currently in construction for use in DM-2,0

In [7]:
# Let's also check the shape. We have 19 observations. Since we want to flatten out the missions dictionary, we should expect this to increase in our final dataframe
# Note that since missions includes 3 empty lists, these will be lost in our next step - these are future missions that haven't yet happened
spacex.shape

(19, 10)

In [8]:
# Since we have a complex json, under arguments, let's include record_path for missions and all the columns we want to keep under the argument meta. Let's set the index to name of the mission
spacex = json_normalize(spacex_json, sep='_', record_path='missions', meta=['capsule_serial','capsule_id', 'status', 'original_launch','details','reuse_count']).set_index('name')

# Let's change the original launch column to a datetime data type
spacex['original_launch'] = pd.to_datetime(spacex['original_launch'])

# Let's check. We have a new data frame with the missions dictionaries flattened out into columns and the name set as index 
spacex

,flight,capsule_serial,capsule_id,status,original_launch,details,reuse_count
name,,,,,,,
COTS 1,7,C101,dragon1,retired,2010-12-08 15:43:00+00:00,Reentered after three weeks in orbit,0
COTS 2,8,C102,dragon1,retired,2012-05-22 07:44:00+00:00,First Dragon spacecraft,0
CRS-1,9,C103,dragon1,unknown,2012-10-08 00:35:00+00:00,First of twenty missions flown under the CRS1 ...,0
CRS-2,10,C104,dragon1,unknown,2013-03-01 19:10:00+00:00,None,0
CRS-3,14,C105,dragon1,unknown,2014-04-18 19:25:00+00:00,First Dragon v1.1 capsule,0
CRS-4,18,C106,dragon1,active,2014-09-21 05:52:00+00:00,First Dragon capsule to be reused,2
CRS-11,41,C106,dragon1,active,2014-09-21 05:52:00+00:00,First Dragon capsule to be reused,2
CRS-19,85,C106,dragon1,active,2014-09-21 05:52:00+00:00,First Dragon capsule to be reused,2
CRS-5,19,C107,dragon1,unknown,2015-01-10 09:47:00+00:00,None,0
CRS-6,22,C108,dragon1,active,2015-04-14 20:10:00+00:00,Second Dragon capsule to be reused,2
CRS-13,51,C108,dragon1,active,2015-04-14 20:10:00+00:00,Second Dragon capsule to be reused,2
CRS-18,82,C108,dragon1,active,2015-04-14 20:10:00+00:00,Second Dragon capsule to be reused,2
CRS-7,24,C109,dragon1,destroyed,2015-06-28 14:21:00+00:00,Destroyed on impact after F9 launch failure,0
CRS-8,28,C110,dragon1,active,2016-04-08 20:43:00+00:00,None,1
CRS-14,59,C110,dragon1,active,2016-04-08 20:43:00+00:00,None,1
CRS-9,32,C111,dragon1,active,2016-07-18 04:45:00+00:00,None,1
CRS-15,64,C111,dragon1,active,2016-07-18 04:45:00+00:00,None,1
CRS-10,36,C112,dragon1,active,2017-02-19 14:39:00+00:00,None,2
CRS-16,72,C112,dragon1,active,2017-02-19 14:39:00+00:00,None,2
CRS-20,91,C112,dragon1,active,2017-02-19 14:39:00+00:00,None,2
CRS-12,45,C113,dragon1,active,2017-08-14 16:31:00+00:00,The last newly manufactured Dragon 1,1
CRS-17,78,C113,dragon1,active,2017-08-14 16:31:00+00:00,The last newly manufactured Dragon 1,1
CCtCap Demo Mission 1,76,C201,dragon2,active,2019-03-02 07:45:00+00:00,Destroyed in a test anomaly at LZ-1 on April 2...,0
Crew Dragon In Flight Abort Test,88,C205,dragon2,active,2020-01-19 14:00:00+00:00,In construction for use in first mission in co...,0
CCtCap Demo Mission 2,94,C206,dragon2,active,2020-05-30 19:22:00+00:00,"In Hawthorne, CA as of October 11, 2019. Seen ...",0

In [9]:
# Checking the shape, we see that we have more observations as missions have been added (we've also lost some from the empty lists)
spacex.shape

(25, 7)

## 4. 10 of My Favorite Wines from the Past Few Years

In the 2nd example, we'll manually create dataframe, including a column of nested data, of 10 of my favorite wines over the past few years and apply 2 methods to reshape it.

In [20]:
# Create list of producers of the wine I had
Producers = ['Descendientes de J Palacios','Petrusa','Vila Vina','Ivan Dolac','Quinta do Crasto','Bargylus','Dom do Bibei Lalama','Avignonesi','Vina Tondonia','Alcyone']

# Create list of dictionaries containing info on each wine producer for the wine I had 
Info = [{'Variety': 'Mencia', 'Region':'Bierzo', 'Country':'Spain','Vintage':'2006'},
         {'Variety': 'Schioppetino', 'Region':'Colli Orientali del Friuli','Country':'Italy', 'Vintage':'2010'},
         {'Variety': 'Prokupac', 'Region':'West Morava','Country':'Serbia', 'Vintage':'2016'},
         {'Variety': 'Old Vines', 'Region':'Douro','Country':'Portugal', 'Vintage':'2015'},
         {'Variety': 'Plavac Mali', 'Region':'Hvar','Country':'Croatia', 'Vintage':'2014'},
         {'Variety': 'Syrah-Cabarnet-Merlot', 'Region':'Latakia','Country':'Syria', 'Vintage':'2010'},
         {'Variety': 'Mencia', 'Region':'Ribeira Sacra','Country':'Spain', 'Vintage':'2010'},
         {'Variety': 'Merlot', 'Region':'Toscana (IGT)','Country':'Italy', 'Vintage':'2010'},
         {'Variety': 'Tempranillo-Garnacha', 'Region':'Rioja', 'Country':'Spain','Vintage':'2005'},
         {'Variety': 'Tannat', 'Region':'Canelones','Country':'Uruguay', 'Vintage':'2016'}]

# Create dataframe calling dictionary constructor with keys as producrs and info
wines = pd.DataFrame(dict(Producers=Producers,Info=Info))

# Checking the dataframe - the info column contains dictionaries
wines

,Producers,Info
0,Descendientes de J Palacios,"{'Variety': 'Mencia', 'Region': 'Bierzo', 'Cou..."
1,Petrusa,"{'Variety': 'Schioppetino', 'Region': 'Colli O..."
2,Vila Vina,"{'Variety': 'Prokupac', 'Region': 'West Morava..."
3,Ivan Dolac,"{'Variety': 'Old Vines', 'Region': 'Douro', 'C..."
4,Quinta do Crasto,"{'Variety': 'Plavac Mali', 'Region': 'Hvar', '..."
5,Bargylus,"{'Variety': 'Syrah-Cabarnet-Merlot', 'Region':..."
6,Dom do Bibei Lalama,"{'Variety': 'Mencia', 'Region': 'Ribeira Sacra..."
7,Avignonesi,"{'Variety': 'Merlot', 'Region': 'Toscana (IGT)..."
8,Vina Tondonia,"{'Variety': 'Tempranillo-Garnacha', 'Region': ..."
9,Alcyone,"{'Variety': 'Tannat', 'Region': 'Canelones', '..."

### 4a. Method 1: .to_list()

One method to convert the above dataframe with a column of dictionaries is to call .to_list() to flatten out dictionaries into a list, convert to a dataframe, and concatenate with producers.

In [24]:
# Let's check. we see that we have 1 column for each key
info = wines['Info'].to_list()

# Convert list into a dataframe
info = pd.DataFrame(info)

# Let's check - we have 1 column for each key
info

                 Variety                      Region   Country Vintage
0                 Mencia                      Bierzo     Spain    2006
1           Schioppetino  Colli Orientali del Friuli     Italy    2010
2               Prokupac                 West Morava    Serbia    2016
3              Old Vines                       Douro  Portugal    2015
4            Plavac Mali                        Hvar   Croatia    2014
5  Syrah-Cabarnet-Merlot                     Latakia     Syria    2010
6                 Mencia               Ribeira Sacra     Spain    2010
7                 Merlot               Toscana (IGT)     Italy    2010
8   Tempranillo-Garnacha                       Rioja     Spain    2005
9                 Tannat                   Canelones   Uruguay    2016

In [25]:
# Concatenate Producers column and wine info columns 
pd.concat([wines['Producers'], info], axis=1)

,Producers,Variety,Region,Country,Vintage
0,Descendientes de J Palacios,Mencia,Bierzo,Spain,2006
1,Petrusa,Schioppetino,Colli Orientali del Friuli,Italy,2010
2,Vila Vina,Prokupac,West Morava,Serbia,2016
3,Ivan Dolac,Old Vines,Douro,Portugal,2015
4,Quinta do Crasto,Plavac Mali,Hvar,Croatia,2014
5,Bargylus,Syrah-Cabarnet-Merlot,Latakia,Syria,2010
6,Dom do Bibei Lalama,Mencia,Ribeira Sacra,Spain,2010
7,Avignonesi,Merlot,Toscana (IGT),Italy,2010
8,Vina Tondonia,Tempranillo-Garnacha,Rioja,Spain,2005
9,Alcyone,Tannat,Canelones,Uruguay,2016

### 4b. Method 2: .apply(pd.Series)

Another method is to call .apply(pd.Series), drop the original nested column, and concatenate with producers.

In [26]:
# Flatten out dictionary. pd.Series is applied to each value in info. 
info = wines['Info'].apply(pd.Series)

# Let's check, we have 1 column for each key
info

                 Variety                      Region   Country Vintage
0                 Mencia                      Bierzo     Spain    2006
1           Schioppetino  Colli Orientali del Friuli     Italy    2010
2               Prokupac                 West Morava    Serbia    2016
3              Old Vines                       Douro  Portugal    2015
4            Plavac Mali                        Hvar   Croatia    2014
5  Syrah-Cabarnet-Merlot                     Latakia     Syria    2010
6                 Mencia               Ribeira Sacra     Spain    2010
7                 Merlot               Toscana (IGT)     Italy    2010
8   Tempranillo-Garnacha                       Rioja     Spain    2005
9                 Tannat                   Canelones   Uruguay    2016

In [27]:
# Drop original nested column
wines = wines.drop(columns='Info')

# Concatenate with info dataframe
pd.concat([wines,info], axis=1)

,Producers,Variety,Region,Country,Vintage
0,Descendientes de J Palacios,Mencia,Bierzo,Spain,2006
1,Petrusa,Schioppetino,Colli Orientali del Friuli,Italy,2010
2,Vila Vina,Prokupac,West Morava,Serbia,2016
3,Ivan Dolac,Old Vines,Douro,Portugal,2015
4,Quinta do Crasto,Plavac Mali,Hvar,Croatia,2014
5,Bargylus,Syrah-Cabarnet-Merlot,Latakia,Syria,2010
6,Dom do Bibei Lalama,Mencia,Ribeira Sacra,Spain,2010
7,Avignonesi,Merlot,Toscana (IGT),Italy,2010
8,Vina Tondonia,Tempranillo-Garnacha,Rioja,Spain,2005
9,Alcyone,Tannat,Canelones,Uruguay,2016